* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #646464;

}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    
}

h3 {
    text-align: center;
    font-size: 100%;
    font-weight: lighter;
    margin: 0 10px 0 10px;
}

h4 {
    font-weight: bold;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 130%;
    font-weight: lighter;
    margin: 15px 0 15px 0;
}

section {
    margin: 0 100px 0 100px;
}

header {
    background-color: #000;
    background-size: cover;
    background-position: bottom;
    border-bottom: 13px solid rgba(255, 255, 255, 0.4);
}

.wrapper {
    height: 60px;
    background-color: #252323;
}

.mobile-menu {
    display: none;
}

nav {
    border-bottom: 4px solid #efefef;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 100%;
    z-index: 3;
}


.logo {
    height: 23px;
    transform: translate(0, 70%);
    margin-left: 15%;
}

.sm-icons {
    list-style: none;
    margin: 15px 13% 1% 1%;
}

.sm-icons li {
    display: inline;
}

.sm-icons a:link,
.sm-icons a:visited {
    text-decoration: none;
    color: #c1c1c1;
    font-size: 24px;
    margin: 10px;
}

.fa-wifi {
    transform: rotate(45deg);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-buttons {
    margin-top: 10px;
}

.nav-buttons li {
    display: inline;
    text-transform: uppercase;
    padding: 12px;
}

.nav-buttons a {
    text-decoration: none;
    color: #5c5c5c;
    font-family: sans-serif;
    font-size: 90%;
    letter-spacing: -0.5px;
    padding: 20px 5px 20px 5px;
}

.nav-buttons a:active,
.nav-buttons a:hover {
    color: #00bac6;
    border-bottom: 2px solid #00bac6;
}

.nav-buttons li:first-child a {
    color: #00bac6;
}

.wrapper-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 80px 10px 90px;
    padding: 10px 70px 10px 100px;
}

.search-wrapper {
    position: relative;
    width: 195px;
    height: 35px;
}

.search-wrapper input {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 20px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    padding-left: 20px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    padding-left: 20px;
  }
  :-moz-placeholder { /* Firefox 18- */
    padding-left: 20px;
  }

.search-wrapper .fa-search {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    cursor: pointer;
}

.slider ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
}

.slider ul li {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.slider ul li.selected {
    background-color: #00bac6;
}


/*--------- SLIDER ----------------------*/

#slider, .wrap, .slide-content {
    width: 100%;
    height: 95vh;
    overflow-x: hidden;
}

.carousel-container {
    position: relative;
}

.slide {
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url(/img/hero_large.jpg);
}
.slide2 {
    background-image: url(/img/hero.jpg);
}
.slide3 {
    background-image: url(/img/hero_large.jpg);
}
.slide4 {
    background-image: url(/img/hero.jpg);
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 20px;
}

#arrow-left {
    left: 0;
    margin-left: 10%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#arrow-right {
    right: 0;
    margin-right: 10%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/*--------- SECOND SECTION - TEXT ----------------------*/

.about-us h2 {
    margin: 30px 20px 20px 20px;
    text-align: center;
    text-transform: uppercase;
}

/*------ THIRD SECTION - ICONS ------------------------*/

.icons {
    position: relative;
}

.icons:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -80px;
    transform: translate(-50%);
    border-style: solid;
    border-color: transparent transparent #eeeeee transparent;      /* triangle */
    border-width: 40px 40px 50px 40px;                                /* bigger */
}

.icons ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 80px;
}


.icons-list {
    text-align: center;
}

.icons i {
    font-size: 400%;
    margin-top: 40px;
}

.icons-list p {
    margin: 10px;
}

.icon-big:active,
.icon-big:hover {
    color: #1bb0cb;
}

.icons-list li:nth-child(2) {
    margin-top: 30px;
}


/*------ 4TH SECTION - GALLERY ------------------------*/

.gallery-on-click {
    background-color: #eeeeee;
    margin: 0;
}

.gallery-wrapper {
    margin: 0 100px 0 100px;
    display: grid;                              
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.photo-box {
    border: 2px solid #dddddd;
    justify-self: center;
    margin: 20px;
}

.photo-box img {
    width: 100%;
}

.photo-box h4 {
    padding: 15px 20px 0 20px;
}

.photo-box p {
    padding: 10px 20px 15px 20px;
}


/*------ 5TH SECTION - PARTNER'S LOGOS ------------------------*/

.partners-logos-wrapper {
    margin: 20px;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.partners-logos-wrapper img {
    width: 45%;
    filter: grayscale(100%);
    filter: contrast(2%);
    place-self: center;
}

/*------ 6TH SECTION - FOOTER ------------------------*/

footer {
    color: #ababab;
    background-color: #646464;
}

footer h5 {
    color: #fff;
}

.footer-signature {
    background-color: #272728;
    padding-top: 12px;
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

footer ul:first-child {
    margin: 0 100px 40px 100px;
    display: flex;           
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

footer ul:first-child li {
    margin: 10px 20px 10px 0;
    width: 15em;
}

.footer-signature p {
    height: 23px;
    transform: translate(0, 70%);
    margin-left: 15%;
}

.fa-clock,
.fa-map-marker-alt,
.fa-envelope,
.fa-phone {
    color: #00bac6;
    display: inline-block;
    margin: 10px 20px 10px 5px;
}

.fa-clock {
    margin: 10px 5px 10px 0;
}

footer li:first-child > p:nth-of-type(even)::before {
    content: " ";
    border-top: 1px solid rgb(116, 116, 116);
    padding-right: 80px;
    width: 60%;
    display: block;
    margin: 15px 0 15px 0;
}

footer li:nth-child(3) > p:first-of-type {
    margin-bottom: 15px;
}

.wrapper-icons:first-of-type {
    margin-top: 15px;
}




@media only screen and (max-width: 1100px) {
    .logo {
        margin-left: 5%;
    }
    
    .sm-icons {
        margin-right: 5%;
    }

    .wrapper-buttons {
        margin: 10px 5%;
        padding: 10px 0;
    }

    .subtext {
        font-size: .9em;
        max-width: 600px;
        margin: 0 auto;
    }

    .nav-buttons li {
        padding: 5px;
    }
}

@media only screen and (max-width: 850px) {

    section,
    .gallery-wrapper {
        margin: 0 5%;
    }

    h1 {
        font-size: 2em;
    }

    .subtext {
        font-size: .9em;
        max-width: 400px;
        margin: 0 auto;
    }

    .arrow {
        padding: 15px;
    }

    footer ul:first-child {
        margin: 0 5% 2% 5%;
        font-size: .8em;
    }

    .footer-signature {
        font-size: .8em;
    }

    .footer-signature p {
        margin: 0 0 0 5%;
    }

    .footer-signature .sm-icons {
        margin: 0;
    }
}

@media only screen and (max-width: 380px) {

    .wrapper {
        position: fixed;
        width: 100%;
    }

    .mobile-menu {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #00bac6;
        text-transform: uppercase;
        border: 1px solid #00bac6;
        background-color: transparent;
        height: 40px;
        width: 60px;
        outline: none;
    }

    .mobile-menu:active,
    .mobile-menu:hover {
        border-width: 2px;
    }

    nav {
        position: fixed;
    }

    .wrapper-buttons {
        margin-top: 50px;
    }

    .nav-buttons a {
        padding: 4px 0;
    }

    .search-wrapper {
        margin-top: 10px;
    }

    .sm-icons {
        margin: 12px 10px 0 0;
    }

    .sm-icons a:link,
    .sm-icons a:visited {
        margin: 5px;
    }

    .sm-icons a i {
        font-size: 17px;
    }

    nav {
        background-color: #333;
    }

    .wrapper-buttons {
       flex-direction: column;
    }

    .nav-buttons {
        display: flex;
        flex-direction: column;
    }

    .nav-buttons li a {
        color: #dbdbdb;
    }

    h1 {
        font-size: 1.4em;
    }

    .subtext {
        font-size: .7em;
        max-width: 250px;
        margin: 1% auto;
    }

    .arrow {
        padding: 8px;
    }

    #arrow-right {
        margin-right: 5%;
    }

    #arrow-left {
        margin-left: 5%;
    }

    footer ul:first-child li {
        width: 100%;
    }
}